@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: -1px 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway";
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}
section{
    height: fit-content;
    padding: 5% 0;
}
button{
    margin: 8% 0 0;
    width: 112px;
    height: 34px;
    color: #fff;
    background: linear-gradient( 196deg, #020253b1, #1313bbb1, #020253b1);
    border: 0;
    border-radius: 9px;
    transition: .8s;
    position: relative;
    z-index: 2;
    
    &::after{
        content: ("");
        position: absolute;
        display: flex;
        height: 100%;
        width: 0;
        top: 0;
        left: 0;
        background: aqua;
        border-radius: 9px;
        z-index: -1;
        transition: .5s;
        opacity: 0;
    }

    &:hover {
        cursor: pointer;
        transform: scale(.95);
        box-shadow: 0px 3px 3px #00000017;
        padding: 8px 15px;
        border: 1px solid #D8C191;
        background: transparent;
        color: #020202;

        &::after{
            width: 100%;
        }
    }
}
.button{
    background: linear-gradient( 345deg, #684934, #b49a7d, #684934);
}

#teste-html{
    ::-webkit-scrollbar{
        background-color: #10333f;
        width: 12px;
    }
    ::-webkit-scrollbar-thumb{
        background-color: #f5f5f5;
        border-radius: 10px;
    }
}




$color1:#644e30;
$color2:#fff;


@keyframes animar {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
