header{
    background-color: transparent;
    width: 80%;
    position: fixed;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    left: 9%;
    height: 15%;
    border-radius: 0;
    display: flex;
    transition: all .3s ease-in;
    z-index: 99;
    &[data-active="true"]{
        background: #10333f;
        top: 3%;
        border-radius: 20px;
    }
    
   
    nav{
        width: 100%;
        display: flex;  
        justify-content: center;
        align-items: center;

        .cont{
            width: 80%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .logo{
                width: 80px;
                height: fit-content;
                img{
                    width: 100%;
                }
            }
            .icon{
                width: 8%;
                text-align: end;
                cursor: pointer;
                svg{
                    width: 25px;
                    height: 25px;
                    margin: 0 3%;
                    transition: all .3s ease-in;
                    &:hover{
                        transform: scale(0.9);
                    }
                }
            }
            ul{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                list-style-type: none;
                align-items: center;
                gap: 0 2rem;
                a {
                    color: $color2;
                    display: block;
                    text-align: center;
                    font-size: 14px;
                    padding: 5px 0px;
                    transition: all 0.5s ease;
                    opacity: .8;
                    position: relative;
                    width: 100px;
                    
                    &::after{
                        content: ('');
                        position: absolute;
                        display: flex;
                        width: 0%;
                        height: 0%;
                        // background: #fff;
                        border: 1.5px solid #fff;
                        border-right: transparent;
                        border-top: transparent;
                        bottom: 0;
                        left: 0;
                        transition: all 0.5s ease;
                        opacity: 0;
                    }
                    &::before{
                        content: ('');
                        position: absolute;
                        display: flex;
                        width: 0%;
                        height: 0%;
                        // background: #fff;
                        border: 1.5px solid #fff;
                        border-left: transparent;
                        border-bottom: transparent;
                        top: 0;
                        right: 0;
                        transition: all 0.5s ease;
                        opacity: 0;
                    }
                    
                    
                    &:hover{
                        &::after{
                            width: 98%;
                            height: 95%;
                            opacity: 1;
                        }
                        &::before{
                            width: 98%;
                            height: 95%;
                            opacity: 1;
                        }
                    }
                }
                
                .active{
                    color: $color2;
                    opacity: 1;
                    &:hover {
                        color: $color2;
                        // background: $color4;
                    }
                    &::after{
                        width: 98%;
                        height: 95%;
                        opacity: 1;
                    }
                    &::before{
                        width: 98%;
                        height: 95%;
                        opacity: 1;
                    }
                }
            }

        }
    }

}
@media(max-width: 800px){
    header{
        display: none;
    }
}