#modal-whatsapp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  display: grid;
  place-items: center;
}
#modal-whatsapp[data-active=true] {
  opacity: 1;
  visibility: visible;
}
#modal-whatsapp[data-active=true] .modal-whats {
  right: 0;
  bottom: 0;
  opacity: 1;
  width: 55%;
  height: 65%;
}
#modal-whatsapp[data-active=true] .modal-whats .text {
  opacity: 1;
  animation: animate-p 0.5s;
}
#modal-whatsapp[data-active=true] .modal-whats .links {
  animation: animate-p 0.5s;
  opacity: 1;
}
#modal-whatsapp[data-active=true] .modal-whats .links button {
  width: 400px;
  height: 60px;
}
#modal-whatsapp .modal-whats {
  bottom: -35%;
  right: -42%;
  width: 50px;
  height: 50px;
  opacity: 0;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #14d16d;
  gap: 2rem 0;
  position: relative;
  border-radius: 50px;
}
#modal-whatsapp .modal-whats #close-btn {
  width: 4%;
  height: 10%;
  position: absolute;
  top: 12%;
  right: 5%;
  cursor: pointer;
}
#modal-whatsapp .modal-whats #close-btn .btn-x {
  width: 25px;
  height: 4px;
  background: #fff;
  position: relative;
  border-radius: 9px;
  transform: rotateZ(-45deg);
  transition: all 0.5s ease;
}
#modal-whatsapp .modal-whats #close-btn .btn-x:nth-child(2) {
  bottom: 10%;
  transform: rotateZ(45deg);
}
#modal-whatsapp .modal-whats #close-btn:hover .btn-x {
  background: #fff;
}
#modal-whatsapp .modal-whats .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem 0;
  opacity: 0;
}
#modal-whatsapp .modal-whats .text h2 {
  color: #fff;
  font-size: 35px;
}
#modal-whatsapp .modal-whats .text p {
  color: #fff;
  opacity: 0.8;
  font-size: 20px;
}
#modal-whatsapp .modal-whats .links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem 0;
  opacity: 0;
}
#modal-whatsapp .modal-whats .links button {
  width: 0;
  height: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #fff;
  border: none;
  border-radius: 20px;
  gap: 0 1rem;
}
#modal-whatsapp .modal-whats .links button img {
  width: 30px;
  height: -moz-fit-content;
  height: fit-content;
}
#modal-whatsapp .modal-whats .links button h3 {
  color: #0d4095;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 2rem;
  font-size: 20px;
}
#modal-whatsapp .modal-whats .links button p {
  font-size: 15px;
  color: #0d4095;
  opacity: 0.6;
}

@media (max-width: 800px) {
  #modal-whatsapp .modal-whats {
    width: 95%;
    height: 50%;
  }
  #modal-whatsapp .modal-whats #close-btn {
    top: 8%;
    right: 8%;
  }
  #modal-whatsapp .modal-whats .links a {
    width: -moz-fit-content;
    width: fit-content;
    display: grid;
    place-items: center;
  }
  #modal-whatsapp .modal-whats .links button {
    width: 260px;
    height: -moz-fit-content;
    height: fit-content;
    padding: 5% 2%;
    flex-direction: column;
    gap: 0.5rem 0;
  }
  #modal-whatsapp .modal-whats .links button img {
    width: 25px;
    height: 25px;
  }
  #modal-whatsapp .modal-whats .links button h3 {
    gap: 0 0.5rem;
  }
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

section {
  width: 100%;
  height: 100vh;
  background: #0d4095;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem 0;
}

.btn button {
  width: 120px;
  height: 35px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease;
}
.btn button:hover {
  transform: scale(0.9);
}

.container {
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0 2rem;
}
.container .insta {
  position: relative;
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
}
.container .insta .boll {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 5px solid #fff;
  border-radius: 15px;
  transition: all 0.5s ease;
}
.container .insta .boll:nth-child(2) {
  width: 35%;
  height: 35%;
  border-radius: 50px;
  bottom: 22%;
}
.container .insta .boll:nth-child(3) {
  width: 6px;
  height: 6px;
  right: 12%;
  top: 12%;
  border: none;
  background: #fff;
}
.container .insta[data-active=true] .boll {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 5px solid #fff;
  border-radius: 15px;
}
.container .insta[data-active=true] .boll:nth-child(2) {
  width: 25%;
  height: 65%;
  border-radius: 12px 0 0 0;
  border-bottom: none;
  border-right: none;
  bottom: 0;
}
.container .insta[data-active=true] .boll:nth-child(3) {
  width: 20px;
  height: 6px;
  top: 50%;
  right: 40%;
  border: none;
  background: #fff;
}
.container .facebook {
  position: relative;
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
}
.container .facebook .boll {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 5px solid #fff;
  border-radius: 15px;
  transition: all 0.5s ease;
}
.container .facebook .boll:nth-child(2) {
  width: 25%;
  height: 65%;
  border-radius: 12px 0 0 0;
  border-bottom: none;
  border-right: none;
  bottom: 0;
}
.container .facebook .boll:nth-child(3) {
  width: 20px;
  height: 6px;
  left: 25%;
  top: 50%;
  border: none;
  background: #fff;
}
.container .facebook[data-active=true] .boll {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 5px solid #fff;
  border-radius: 15px;
  transition: all 0.5s ease;
}
.container .facebook[data-active=true] .boll:nth-child(2) {
  width: 35%;
  height: 35%;
  border-radius: 50px;
  bottom: 22%;
}
.container .facebook[data-active=true] .boll:nth-child(3) {
  width: 6px;
  height: 6px;
  left: 72%;
  top: 12%;
  border: none;
  background: #fff;
}
.container .whatsapp {
  position: fixed;
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  right: 6%;
  bottom: 10%;
  cursor: pointer;
  transition: all 0.5s ease;
  z-index: 999;
}
.container .whatsapp .boll {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #14d16d;
  border: 5px solid #fff;
  border-radius: 50px;
  transition: all 0.5s ease;
}
.container .whatsapp .boll:nth-child(2) {
  width: 60%;
  height: 50%;
  border: none;
  transform: rotateZ(10deg);
  background: transparent;
}
.container .whatsapp .boll:nth-child(2) img {
  width: 100%;
}
.container .whatsapp .boll:nth-child(3) {
  width: 10px;
  height: 10px;
  border-radius: 0;
  border-top: none;
  border-right: none;
  left: -10%;
  bottom: 1%;
  transform: scale(1) skewy(-24deg) rotateZ(16deg);
}
.container .whatsapp[data-active=true] {
  z-index: 999;
  bottom: 70%;
  right: 25%;
}
.container .whatsapp[data-active=true] .boll {
  background: transparent;
  height: 5px;
  border: 0 solid transparent;
  background: #fff;
  border-radius: 9px;
  transform: rotateZ(45deg);
}
.container .whatsapp[data-active=true] .boll:nth-child(2) {
  display: none;
}
.container .whatsapp[data-active=true] .boll:nth-child(3) {
  width: 100%;
  height: 5px;
  border: 0 solid transparent;
  background: #fff;
  border-radius: 9px;
  transform: rotateZ(-45deg);
  bottom: 45%;
  left: 0;
}/*# sourceMappingURL=style.css.map */