#doubts {
    background: $color2;
    .container {
        display: grid;
        place-items: center;
        gap: 4rem 0;
        .text {
            width: 45%;
            text-align: center;
            display: grid;
            gap: 0.5rem 0;
            h2 {
                color: $color3;
            }
            p {
                color: $color1;
            }
        }
        .duvidas {
            width: 100%;
            display: grid;
            place-items: center;
            gap: 1rem 0;
            #cont-doubts {
                width: 80%;
                height: 81px;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background: #c1a46981;
                border-radius: 14px;
                cursor: pointer;
                transition: all 0.3s ease-in;
                padding: 3% 0;
                gap: .5rem 0;

                &[data-active="true"]{
                    height: fit-content;
                    padding: 3% 0;
                    cursor: auto;
                    img{
                        transform: rotateZ(180deg);
                        top: 10%;
                    }
                    p{
                        display: flex;
                        animation: animate 1s linear;
                    }
                }
                
                img {
                    position: absolute;
                    right: 5%;
                    transition: all 0.4s ease-in;
                }
                h5 {
                    width: 80%;
                    font-size: 18px;
                    font-weight: 600;
                    color: $color1;
                }
                p {
                    width: 80%;
                    font-size: 15px;
                    color: $color1;
                    display: none;
                }
            }
        }
    }
}
@keyframes animate {
    0%{
        display: flex;
        opacity: 0;
    }
    10%{
        opacity: 0;
    }
    50%{
        opacity: .5;
    }
    100%{
        opacity: 1;
    }
}
@media(max-width: 800px){
    #doubts{
        .container{
            .text{
                width: 100%;
                p{
                    font-size: 15px;
                }
            }
            .duvidas{
                #cont-doubts{
                    width: 100%;
                    padding: 5% 0;
                    &[data-active="true"]{
                        padding: 5% 0;
                    }
                    h5{
                        font-size: 15px;
                    }
                    p{
                        font-size: 14px
                    }
                }
            }
        }
    }
}