* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    resize: none;
    outline: none;
    list-style: none;
    text-decoration: none;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    object-fit: cover;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow: hidden !important;
}
#home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5% 0 0;
    background: #1d1d1c;
    position: relative;
    overflow: hidden;
}