* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form {
  background: rgba(0, 0, 0, 0.6901960784);
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  /*fieldset{
      width: 26rem;
      height: 30rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: .5rem 0;
      border: transparent;
      border-radius: 12px;
      background: #00000067;
      box-shadow: 25px 25px 75px rgba(0,0,0,0.75),
      10px 50px 70px rgba(0,0,0,0.25),
      inset 5px 5px 10px rgba(0,0,0,0.5),
      inset 5px 5px 20px rgba(255,255,255,0.2),
      inset -5px -5px 15px rgba(0,0,0,0.75);
      .box{
          width: 80%;
          text-align: center;
          input{
              width: 100%;
              height: 40px;
              border-radius: 5px;
              padding: 5%;
              background: #ffffff1e;
              border: 2px solid rgba(0, 0, 0, 0.5);
              box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5),
              inset 5px 5px 20px rgba(255, 255, 255, 0.2),
              inset -5px -5px 20px rgba(0, 0, 0, 0.75);
          }
          textarea{
              width: 100%;
              border-radius: 5px;
              padding: 5%;
              background: #ffffff1e;
              border: 2px solid rgba(0, 0, 0, 0.5);
              box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5),
              inset 5px 5px 20px rgba(255, 255, 255, 0.2),
              inset -5px -5px 20px rgba(0, 0, 0, 0.75);
          }
          button{
              padding: 3% 10%;
              border-radius: 12px;
              color: #ffffff6c;
              background: #ffffff1e;
              outline: none;
              box-shadow: 25px 25px 75px rgba(0,0,0,0.75),
              10px 50px 70px rgba(0,0,0,0.25),
              inset 5px 5px 10px rgba(0,0,0,0.5),
              inset 5px 5px 20px rgba(255,255,255,0.2),
              inset -5px -5px 15px rgba(0,0,0,0.75);

          }
      }

      h1{
          text-align: center;
          font-family: Arial, Helvetica, sans-serif;
          color: #ffffff6c;

      }
  }*/
}
.form .container {
  width: 26rem;
  max-width: 30rem;
  height: 35rem;
  display: grid;
  gap: 0.5rem 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: transparent;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.4039215686);
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.75), 10px 50px 70px rgba(0, 0, 0, 0.25), inset 5px 5px 10px rgba(0, 0, 0, 0.5), inset 5px 5px 20px rgba(255, 255, 255, 0.2), inset -5px -5px 15px rgba(0, 0, 0, 0.75);
}
.form .container form {
  width: 80%;
  height: 100%;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem 0;
  align-items: center;
  justify-content: center;
  background: transparent;
}
.form .container form label {
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.4235294118);
}
.form .container form h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.4235294118);
  padding-bottom: 5%;
}
.form .container form label, .form .container form input, .form .container form textarea, .form .container form button {
  display: block;
  width: 100%;
  font: inherit;
  pad: 1.25rem;
}
.form .container form input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding: 5%;
  background: rgba(255, 255, 255, 0.1176470588);
  border: 2px solid rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), inset 5px 5px 20px rgba(255, 255, 255, 0.2), inset -5px -5px 20px rgba(0, 0, 0, 0.75);
}
.form .container form textarea {
  width: 100%;
  border-radius: 5px;
  padding: 5%;
  background: rgba(255, 255, 255, 0.1176470588);
  border: 2px solid rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), inset 5px 5px 20px rgba(255, 255, 255, 0.2), inset -5px -5px 20px rgba(0, 0, 0, 0.75);
  resize: none;
}
.form .container form button {
  width: 50%;
  padding: 3% 10%;
  border-radius: 12px;
  color: rgba(255, 255, 255, 0.4235294118);
  background: rgba(255, 255, 255, 0.1176470588);
  outline: none;
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.75), 10px 50px 70px rgba(0, 0, 0, 0.25), inset 5px 5px 10px rgba(0, 0, 0, 0.5), inset 5px 5px 20px rgba(255, 255, 255, 0.2), inset -5px -5px 15px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
.form .container form button:disabled {
  cursor: not-allowed;
}/*# sourceMappingURL=styles.css.map */