#tv{
    padding: 2% 0;
    .container{
        width: 70%;
        display: grid;
        place-items: center;
        gap: 4rem 0;
        .img{
            width: 70%;
            .video{
                position: relative;

                video{
                    width: 100%;
                    height: 22rem;
                }
                .barra{
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 20%;
                    height: 98.5%;
                    backdrop-filter: blur(45px);
                    background:#1d1d1b33;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    padding: 5% 0;
                    img{
                        width: 70%;
                    }
                    #time{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        font-weight: 600;
            
                        p{
                            font-size: 30px;
                            font-weight: 400;
                            color: #fff;
                            &:nth-child(1){
                                font-size: 16px;
                                opacity: .9;
                            }
                        }
                        div{
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            gap: 0 .3rem;
                            p{
                                font-size: 12px ;
                                opacity: .8;
                            }
                        }
                    }
                    .boll{
                        width: 55%;
                        height: 1px;
                        background: $color3;
                        opacity: .8;
                    }
                    .clima{
                        .grau{
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: start;
                            gap: 0 .2rem;
                            p{
                                font-size: 25px;
                                &:nth-child(2){
                                    position: relative;
                                    top: 5px;
                                    font-size: 12px;
                                }
                            }
                        }
                        p{
                            font-size: 10px;
                        }
                    }
                }
            }
            img{
                width: 100%;
            }
        }
    }
}
@media(max-width: 800px){
    #tv{
        .container{
            width: 80%;
            .img{
                width: 100%;
                .video{
                    video{
                        height: 12rem;
                    }
                    .barra{
                        height: 97%;
                        #time{
                            p{
                                font-size: 18px;
                                &:nth-child(1){
                                    font-size: 13px;
                                }
                            }
                            div{
                                p{
                                    font-size: 10px;
                                }
                            }
                        }
                        .clima{
                            .grau{
                                p{
                                    font-size: 18px;
                                }
                            }
                            p{
                                font-size: 8px;
                            }
                        }
                    }
                }
            }
        }
    }
}