body{
    background: #1d1d1d;
}

#test{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 5rem;
    .img{
        width: 500px;
        height: 80%;
        display: grid;
        place-items: center;
        box-shadow: 5px 5px 10px #ffffff05,
        inset 5px 5px 20px #ffffff33,
        inset -5px -5px 20px #ffffff75,
        inset 15px 15px 20px #ffffff75;
        position: relative;
        p{
            width: 85%;
            color: #f1f1f1;
            opacity: 0;
        }
        img{
            position: absolute;
            width: 90%;
            height: 90%;
            object-fit: cover;
            transition: all .5s ease;

            // &:hover{
            //     transform: scale(80%);
            // }
        }
    }
}


.cursor{
    z-index: 9999;
    position: fixed;
    background: #f1f1f1;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    pointer-events: none;
    opacity: .5;
    box-shadow: 5px 5px 10px #f1f1f180,
                5px 5px 60px #f1f1f180,
                5px 5px 100px #f1f1f1bf;
}